   body {
            background: #f7f7f7;
            font-family: 'Inter', sans-serif;
        }
        .sidebar {
            width: 250px;
            background: linear-gradient(to right, rgb(151, 25, 25), rgb(255, 99, 71));
            height: 100vh;
            padding: 20px;
            border-right: 1px solid #eee;
        }
        .sidebar a {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            text-decoration: none;
            color: #eeeeee;
            border-radius: 8px;
            margin-bottom: 8px;
            transition: 0.2s;
        }
        .sidebar a:hover {
            background: #f0f0ff;
            color: #4a3aff;
        }
        .main {
            padding: 30px;
        }
        .welcome-box {
            background:linear-gradient(to right, #e8ddff, #e5e5e6);
            padding: 30px;
            border-radius: 20px;
        }
        .stats-box {
            padding: 20px;
            border-radius: 15px;
            color: rgb(32, 31, 31);
            font-weight: 600;
        }
        .card-item {
            background: linear-gradient(to right, rgb(204, 75, 75), rgb(255, 99, 71));
            padding: 20px;
            color: white;
            border-radius: 15px;
            margin-bottom: 15px;
            border: 1px solid #eee;
        }